ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 60px;
  overflow:hidden;
  background-color: #333;
}
li{
  float: left;
  }
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 22px 20px;
  text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
li a:hover{
  background-color: #555;
      color: white;
}
#s{
  float:right;
}
.active{
  background-color: #4CAF50;
}
